version: '3.9'
services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: labqms
      POSTGRES_PASSWORD: labqms
      POSTGRES_DB: labqms
    ports:
      - '5432:5432'
    volumes:
      - ../postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - ../redis-data:/data

  minio:
    image: minio/minio:RELEASE.2023-12-02T10-51-33Z
    restart: unless-stopped
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    command: server /data --console-address ":9001"
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - ../minio-data:/data

  api:
    build:
      context: ..
      dockerfile: Dockerfile.api
    environment:
      NODE_ENV: development
      API_PORT: 4000
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: labqms
      POSTGRES_PASSWORD: labqms
      POSTGRES_DB: labqms
      REDIS_HOST: redis
      REDIS_PORT: 6379
      MINIO_ENDPOINT: minio
      MINIO_PORT: 9000
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
      MINIO_BUCKET: labqms-docs
      ORG_NAME: 'AIIMS Bhopal'
      LAB_NAME: 'Department of Pathology & Lab Medicine'
      DEFAULT_TIMEZONE: 'Asia/Kolkata'
    ports:
      - '4000:4000'
    depends_on:
      - postgres
      - redis
      - minio

  web:
    build:
      context: ..
      dockerfile: Dockerfile.web
    environment:
      NEXT_PUBLIC_API_URL: http://api:4000
    ports:
      - '3000:3000'
    depends_on:
      - api
